MONGO_URI = ''
GOOGLE_CLIENT_ID = ''
GOOGLE_CLIENT_SECRET = ''
GOOGLE_REFRESH_TOKEN = ''
JWT_SECRET = ''
GEMINI_API_KEY = ''
CLOUD_NAME = ''
CLOUD_API_KEY = ''
CLOUD_API_SECRET = ''
RAZOR_API_KEY = ''
RAZOR_SECRET_KEY = ''